body{
    
    background-color: ghostwhite;
   text-align: center;
   size: 30px;
   width: 1500px;
   margin: auto;
   border-left: 5px solid gray;
   border-right: 5px solid gray;
}
html{
    margin: 0;
    background-color: peru;
}




p{
    text-align: justify;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;

}
h1{
    color: darkslategray;
}
h2{
    color: darkorange;
}
.Anketa p{
    text-align: center;
}

.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
  }


.row {
    text-align: center;
    margin-left: 600px;
}

.row1 {
    text-align: center;
    margin-left: 600px;
}
