.navbar {
    overflow: hidden;
    background-color: rgb(109, 106, 106);
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: orange;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: orange;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: white;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px orange;
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }


#seconds{
    float:right;
}

#Seconds1{
    float: right;
}




body{
    
    background-color: ghostwhite;
   text-align: center;
   size: 30px;
   width: 1500px;
   margin: auto;
   border-left: 5px solid gray;
   border-right: 5px solid gray;
}
html{
    margin: 0;
    background-color: peru;
}




p{
    text-align: justify;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;

}
h1{
    color: darkslategray;
}
h2{
    color: darkorange;
}
.Anketa p{
    text-align: center;
}

.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
  }


.row {
    text-align: center;
    margin-left: 600px;
}

.row1 {
    text-align: center;
    margin-left: 600px;
}


#helpText   { font-family: sans-serif; color: red; margin-top: 10px; }


#MainImage  { 
    width: 289px;
    padding: 5px; 
}

#ImageCover { height: 373px; }


#DinamickoPrevzemanje{
    text-align: center;
}